# .env
HOST_PORT=

# .env.local and .env.dev
DEBUG=
SECRET_KEY=
DATABASE_URL=
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=

# .env.dev
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# .env.test
TEST_SECRET_KEY=
TEST_DATABASE_URL=
TEST_POSTGRES_USER=
TEST_POSTGRES_PASSWORD=
TEST_POSTGRES_DB=
TEST_POSTGRES_PORT=
